<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Generative AI by Daniil Bokhan</title>
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Loader element -->
    <div class="loader" id="global-loader"></div>
    <div class="container">
        <!-- Title and description -->
        <h1>Basic Generative AI by Daniil Bokhan</h1>
        <h2>Based on stable-diffusion-xl</h2>
        <!-- Form to submit prompt -->
        <form method="POST">
            <input type="text" name="prompt" placeholder="Enter your request" required>
            <button type="submit" class="generate-btn">Generate image</button>
        </form>
        <!-- Image container -->
        <div class="image-container">
            {% if image_url %}
                <!-- Display generated image if available -->
                <h2>Generated image:</h2>
                <div class="image-frame">
                    <img id="generated-image" src="{{ image_url }}" alt="generated image" onload="hideLoader()">
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Theme switcher -->
    <div class="theme-switcher">
        <label for="theme-switch">Dark Mode</label>
        <input type="checkbox" id="theme-switch">
    </div>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
